.site-branding {
  /*bottom: -30px;*/
}
.site-branding h1.site-title a {
  font-size: 1.6em;
  color: rgb(255,230,120);
}
h1.site-title a:focus {
    outline: none;
}
.site-branding .site-header {
    padding: 30px 0px;
}
.site-branding .screen-reader-text {
    clip: auto; /*rect(1px, 1px, 1px, 1px);*/
}
.site-title {
  line-height: 40px;
}
.site-branding .site-description {
  position: relative !important;
  line-height: 10px;
}

h1.page-title {
  margin-top: 20px;
}

.site-main .content-grid-download .entry-title {
  font-size: 18px;
}

.entry-content p {
  margin-bottom: 0.7em;
}
.entry-content ol {
  margin: 0 0 1.5em 1.2em;
}
.entry-content a:link, .entry-content a:active, .entry-content a:visited {
  color: rgb(58, 188, 150);/* #4ed0aa; */
}
.site-main .entry-content h4 {
  margin: 2.5em 0 1em;
}
.site-main .entry-content h3 {
  margin: 2.5em 0 1em;
}

.home .page-header {
  display: none;
}
.logo-get {
  color: #fff;
  margin-right: 2px;
}

.logo-exc {
  /* color: rgb(210,70,70); */
}


.header-outer .entry-page-title {
  padding-bottom: 40px;
}


.edd-cp-container {
  font-size: 1.2em;
}
.main-navigation {
  z-index: 99;
}


/*  Custom SECTION TITLE  */

.site-main .section-title span {
  color: rgb(97, 119, 130);
}
.section-title div.edd-currency-wrap {
  display: inline;
  text-transform: none;
}
.section-title .edd-currency-wrap input {
  display: none;
}

.section-title .edd-icon-spin {
  display: none; /*inline-block;*/
  -moz-animation: edd-icon-spinb 2s infinite linear;
  -o-animation: edd-icon-spinb 2s infinite linear;
  -webkit-animation: edd-icon-spinb 2s infinite linear;
  animation: edd-icon- spinb 2s infinite linear; }

@-moz-keyframes edd-icon-spinb {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(-359deg); } }
@-webkit-keyframes edd-icon-spinb {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-359deg); } }
@-o-keyframes edd-icon-spinb {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(-359deg); } }
@-ms-keyframes edd-icon-spinb {
  0% {
    -ms-transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(-359deg); } }
@keyframes edd-icon-spinb {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-359deg); } }



.site-footer .site-info a {
  color: rgb(255,230,120);
}
.site-footer .site-info .col-md-8 {
  text-align: left;
}
.copyleft {
    display: inline-block;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.header-search-icon {
  display: none;
}


@media screen and (min-width:992px)
{
  .site-footer .site-info .col-md-4 {
      width: 66.6666%;
  }
  .site-footer .site-info .col-md-8 {
      width: 33.3333%;
  }

  .main-navigation.toggled .search-form {
    display: none;
  }

}

.content-grid-download .overlay strong.item-price {
  display: none;
}
.content-grid-download .overlay .edd_purchase_submit_wrapper {
  display: none;
}
.entry-content > :not(.edd_downloads_list) .edd_download_purchase_form {
  display: none;
}
.download-info {
  /*display: none;*/
}
.featured-image .download-image {
  display: none;
}
h2.comments-title span {
  display: none;
}
.coming-soon strong {
  display: none;
}
.edd_purchase_receipt_files {
  display: none;
}
